@font-face {
  font-family: "Libre Franklin";
  src: url(../fonts/LibreFranklin-VariableFont_wght.ttf);
}

* {
  margin: 0;
  border: 0;
}

body {
  font-family: "Libre Franklin", serif;
  min-height: 100vh;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
}

h1 {
  font-family: "Libre Franklin", serif;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3.2rem;
}

.grid-container {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: 35% 65%;
  justify-items: center;
  align-items: center;
}

.grid-container img {
  width: 80%;
  display: block;
}

.hero span {
  font-size: 1.4rem;
}

footer {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
